/***
*************
RESET
*************
***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***
*************
COMMON
*************
***/
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    margin-top: 80px;
}

img {
    width: 100%;
}

.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.align {
    align-items: center;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 30px;
    margin-bottom: 60px;
    line-height: 40px;
}

h3 {
    font-size: 19px;
    margin-bottom: 18px;
    line-height: 23px;
}

.hr-small {
    margin-top: 35px;
    width: 48px;
    border: 1px solid #d0d0d3;
}

/***
*************
DEBUG
*************
***/
.debug .columns .small-col {
    height: 500px;
}

.debug .small-box {
    background-color: green;
}

.debug .big-box {
    background-color: pink;
}

/***
*************
UTILITY
*************
***/
.viewport {
    width: 100vw;
}

.big-container {
    width: 1180px;
    margin: 0 auto;
}

.small-container {
    width: 1000px;
    margin: 150px auto 0;
}

.small-col {
    width: calc(100% / 3 - 50px);
    margin: 25px;
}

.big-col {
    width: 100%;
}

.columns {
    margin: 0 -25px;
    justify-content: center;
}

.col-header {
    padding: 10px 0;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border-bottom: 1px solid #d0d0d3;
}

.col-content {
    padding: 32px 32px 50px;
}

.small-box {
    width: 40%;
}

.big-box {
   width: 60%;
}

.half-box {
    width: 50%;
}

.col-1 {
    width: 30%;
}

.col-2 {
    width: 70%;
}

/***
*************
BUTTONS
*************
***/
button {
    border: none;
}

.primary {
    background-color: #0061ff;
    padding: 11px 0;
}

.primary > a {
    color: white;
}

.secondary {
    background-color: white;
    padding: 11px 0;
}

.secondary > a {
    color: black;
}

.s {
    padding: 5px 15px;
}

.m {
    width: 225px;
}

.small-col button {
    width: 100%;
    margin: 0 auto;
}

/***
*************
LINKS
*************
***/
a {
    font-family: 'Open Sans', sans-serif;
}

a:not(.link-acquista-ora, .team a) {
    text-decoration: none;
}

header nav li:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

.link-acquista-ora,
.section-4 .team a {
    color: #0000ee;
}

/***
*************
HEADER
*************
***/
header {
    height: 80px;
    background-color: white;
    padding: 0 15px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
}

header nav {
    justify-content: space-between;
}

nav ul {
    gap: 30px;
}

nav li > a {
    background-color: inherit;
    line-height: 80px;
    color: black;
}

header nav li.row {
    align-items: center;
}

/***
*************
MAIN
*************
***/

/***
*************
jumbotron
*************/
.jumbotron {
    background-color: #b4d0e7;
    height: 740px;
}

h1 {
    font-size: 77px;
    margin-bottom: 55px;
    line-height: 95px;
}

.jumbotron > section {
    position: relative;
    top: 100px;
}

.jumbotron section .col-1 {
    gap: 25px;
}

.jumbotron section .col-1 i {
    font-size: 43px;
    position: relative;
    top: 120px;
}

/***
*************
section 2
*************/
.section-2 .radio-input {
    gap: 50px;
    margin-bottom: 30px;
}

.section-2 .columns .small-col,
.section-2 .big-col {
    border: 1px solid #d0d0d3;
    font-size: 12px;
}

.section-2 .col-content .main-infos > div {
    margin-top: 10px;
}

.section-2 .small-col .col-content {
    gap: 45px;
}

.section-2 .col-content ul > li:not(li:last-child) {
    margin-bottom: 22px;
}

.section-2 .col-content ul li i {
    margin-right: 7px;
}

.section-2 .col-content .punti-salienti ul li {
    align-items: flex-start;
}

.section-2 .col-content button {
    margin-bottom: 30px;
}

.section-2 .col-content .punti-salienti h4 {
    margin-bottom: 30px;
}

.section-2 .col-content .punti-salienti ul i {
    color: #0061ff;
}

.section-2 .big-col {
    margin-top: 20px;
}

.section-2 .big-col .col-content {
    justify-content: space-between;
}

.section-2 .big-col .col-content button {
    width: 240px;
}

/*
.section-2 .big-col .big-box p {
    margin: 50px 0 10px;
}
*/

/***
*************
section 3
*************/
.section-3 .content-box {
    padding: 50px;
}

.section-3 .content-box p {
    margin-bottom: 35px;
}

.section-3 .content-box button {
    width: 155px;
    border: 1px solid black;
}

/***
*************
section 5
*************/
.section-5 {
    margin-top: 120px;
}

.section-5 .cube {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.section-5 .cube .inner-cube {
    width: 50%;
    height: 50%;
}

.section-5 .cube .inner-cube,
.section-5 .cube #designit > div.row {
    justify-content: center;
}

.cube img {
    width: 50%;
}

#designit {
    background-color: #d1e9cd;
    padding: 15px;
}

#designit > div {
    background-color: #a2d39b;
    width: 100%;
    height: 100%;
}

#asu {
    background-color: #61082b;
}

#u-florida {
    background-color: #0093ce;
}

#topps {
    background-color: #ff1c1c;
}

.cube-center {
    padding: 50px;
    background-color: #f5f5f5;
}

.cube-center p {
    margin: 35px 0;
}

#wbr {
    background-color: #d5001f;
}

#hearst {
    background-color: #b4d0e7;
}

#lonely-planet {
    background-color: #0d2481;
}

#clear-channel {
    background-color: #ffd830;
}

.porta-dropbox h2 {
    margin: 0px;
}

.porta-dropbox button.secondary {
    width: 296px;
}

.porta-dropbox {
    background-color: #b4d0e7;
    height: 358px;
    justify-content: center;
    align-items: center;
}

.porta-dropbox > .small-container {
    margin-top: 0;
    justify-content: space-between;
}

.porta-dropbox h2 {
    color: #61082b;
}

/***
*************
section 6
*************/
.section-6 {
    margin-bottom: 150px;
}

.section-6 .faq hr {
    color: #999999;
    width: 100%;
}

.section-6 .faq div.row {
    margin: 30px 0;
    justify-content: space-between;
}

.section-6 .faq div.row > i {
    padding: 0 40px;
}

/***
*************
FOOTER
*************
***/
footer {
    background-color: black;
    border-bottom: 2px solid white;
    color: white;
}

footer .footer-container {
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

footer .footer-columns .col {
    width: calc(100% / 5);
}

footer .footer-columns {
    margin: 100px 0;
}

footer a {
    color: inherit;
}

footer hr {
    width: 120px;
}

footer .lang {
    color: #999999;
}

footer .lang > div {
    margin: 50px 0;
}