/***
*************
RESET
*************
***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***
*************
COMMON
*************
***/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

/***
*************
DEBUG
*************
***/
img {
    width: 100%;
}

/***
*************
UTILITY
*************
***/
.viewport {
    width: 100vw;
}

.big-container {
    width: 60vw;
    margin: 0 auto;
}

.small-container {
    width: 50vw;
}

/***
*************
BUTTONS
*************
***/
button:hover {
    cursor: pointer;
}

button {
    border: none;
    font-size: 12px;
}

.primary {
    background-color: #0061ff;
    color: white;
    padding: 6px 0;
}

.s {
    padding: 5px 15px;
}

.m {
    width: 180px;
}

.secondary {
    background-color: white;
}

header button:not(.right-nav div button) {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header nav button:hover {
    border-bottom: 2px solid black;
}

/***
*************
HEADER
*************
***/
header {
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 15px;
}

nav ul {
    gap: 30px;
}

nav > .logo {
    align-items: center;
}

nav .logo > img {
    width: 80%;
}

nav button:not(.right-nav div button) {
    background-color: inherit;
    line-height: 60px;
}

.right-nav div {
    align-items: center;
    margin-left: 20px;
}

/***
*************
MAIN
*************
***/
.jumbotron {
    background-color: #b4d0e7;
    height: 75vh;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 40px;
    line-height: 75px;
}

.jumbotron > div {
    position: relative;
    top: 60px;
}

.jumbotron div .col-1 {
    width: 30%;
}

.jumbotron div .col-2 {
    width: 70%;
}

/***
*************
FOOTER
*************
***/