/***
*************
RESET
*************
***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***
*************
COMMON
*************
***/
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
}

img {
    width: 100%;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

/***
*************
DEBUG
*************
***/
.columns .small-col {
    height: 500px;
    background-color: green;
}

.small-container {
    background-color: pink;
}

/***
*************
UTILITY
*************
***/
.viewport {
    width: 100vw;
}

.big-container {
    max-width: 1180px;
    margin: 0 auto;
}

.small-container {
    width: 54vw;
    margin: 0 auto;
}

.small-col {
    width: calc(100% / 3);
    margin: 15px;
}

.big-col {
    width: 100%;
}

/***
*************
BUTTONS
*************
***/
button {
    border: none;
}

.primary {
    background-color: #0061ff;
    color: white;
    padding: 9px 0;
}

.secondary {
    background-color: white;
    padding: 6px 0;
}

.s {
    padding: 5px 15px;
}

.m {
    width: 175px;
}


/***
*************
LINKS
*************
***/
a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: black;
}

header nav li:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

/***
*************
HEADER
*************
***/
header {
    height: 80px;
    background-color: white;
    padding: 0 15px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
}

header nav {
    justify-content: space-between;
}

nav ul {
    gap: 30px;
}

nav .logo > img {
    max-width: 80%;
}

nav li a {
    background-color: inherit;
    line-height: 80px;
}

nav div {
    align-items: center;
    margin-left: 20px;
}

/***
*************
MAIN
*************
***/
body {
    margin-top: 80px;
}

/***
*************
jumbotron
*************/
.jumbotron {
    background-color: #b4d0e7;
    height: 78vh;
    margin-bottom: 100px;
}

h1 {
    font-size: 77px;
    margin-bottom: 40px;
    line-height: 75px;
}

.jumbotron > section {
    position: relative;
    top: 70px;
}

.jumbotron section .col-1 {
    width: 30%;
    gap: 25px;
}

.jumbotron section .col-2 {
    width: 70%;
}

.jumbotron section .col-1 i {
    font-size: 40px;
    margin-top: 40px;
}

/***
*************
section 2
*************/
.section-2 .columns .small-col {
    border: 1px solid #d0d0d3;
}

.section-2 .columns {
    margin: 0 -15px;
    justify-content: center;
}

/***
*************
FOOTER
*************
***/